

.cor1{
    height: 90px;
    width: 100px;
    border: none;
    background-color: aquamarine;
}


button:hover{
    cursor: pointer;
    background-color:blueviolet
}
input {
    width: 180px;
    margin-bottom:30px;
    margin-top: 40px;
    border-color: blueviolet;
}
nav{
    display: flex;
    direction: row;
margin-top: 50px;
  
}
.cor2{
    height: 90px;
    width: 100px;
    border: none;
    background-color:green;
}
.cor3{
    height: 90px;
    width: 100px;
    border: none;
    background-color: red;
}
